<a href="https://colab.research.google.com/github/sethkipsangmutuba/Huawei-Certified-ICT-Associate--Artificial-Intelligence/blob/Deeplearning/HUAWEI_UNESCO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



![UNESCO HUAWEI.webp]()

[link text](https://www.unesco.org/en/articles/unesco-and-huawei-2024-training-artificial-intelligence-technology-university-lecturers-eastern#:~:text=In%20order%20to%20advance%20the,instructor%20led%20training%20sessions%2C%20Kenya.)

**HCIA-AI CERTIFICATION DAILY EXERCISE: PYTHON BASICS**
1) Check the version of pandas and numpy installed using the following commands:

In [1]:
import numpy
print(numpy.__version__)  # numpy version

import pandas as pd
print(pd.__version__)  # pandas version

1.26.4
2.1.4

2) Write a program to print 'Hello HCIA PDTP-Huawei Team’

In [2]:
# Print the message
print("Hello HCIA PDTP-Huawei Team")

Hello HCIA PDTP-Huawei Team

3) Write a program to define two variables, calculate their sum and display the results

In [3]:
# Define two variables
num1 = 10
num2 = 5

# Calculate the sum
sum_result = num1 + num2

# Display the result
print("The sum of", num1, "and", num2, "is:", sum_result)

The sum of 10 and 5 is: 15

4)
a) Write a program to define a tuple that contains only one element.

In [4]:
# Define a tuple with only one element
single_element_tuple = (42,)  # You can replace 42 with any value

# Display the tuple
print(single_element_tuple)

(42,)

b) Write a program to define a tuple and then use the 'for loop' to print all the elements.

In [6]:
# Define a tuple with multiple elements
my_tuple = (1, 2, 3, 4, 5)

# Use a for loop to print all the elements in the tuple
for element in my_tuple:
    print(element)

1
2
3
4
5

5) Write code to create a Python dictionary (the dict type) and print out the details. Add two
entries to the dictionary: Associate the key ‘name’ with the value ‘Reagan’, and associate the
key ‘phone’ with ‘+254 722 222333’

In [7]:
# Create an empty dictionary
my_dict = {}

# Add entries to the dictionary
my_dict['name'] = 'Reagan'
my_dict['phone'] = '+254 722 222333'

# Print out the details of the dictionary
print(my_dict)

{'name': 'Reagan', 'phone': '+254 722 222333'}

6)
a) Define a function to do Multiplication, such as Mul(8,6),and it output 42.

In [8]:
# Define a function to perform multiplication
def Mul(a, b):
    return a * b

# Call the function with the values 8 and 6
result = Mul(8, 6)

# Print the result
print("The result of Mul(8, 6) is:", result)

The result of Mul(8, 6) is: 48

b) Complete the function definition so it returns the square of the product of the parameters,
so sqrProd(2, 5) returns (2*5)*(2*5) = 100.
def sqrProd(x, y):

In [9]:
# Define the function to return the square of the product of the parameters
def sqrProd(x, y):
    product = x * y      # Calculate the product
    squared_product = product ** 2  # Square the product
    return squared_product  # Return the squared product

# Example usage
result = sqrProd(2, 5)
print("The result of sqrProd(2, 5) is:", result)

The result of sqrProd(2, 5) is: 100

7) Import numpy and then:
a) Use numpy to define an array, the shape of it is (5,5) and all elements of it is 0.

In [10]:
import numpy as np

# Define a 5x5 array with all elements as 0
array_5x5 = np.zeros((5, 5))

# Print the array to verify
print("5x5 array with all elements as 0:")
print(array_5x5)

5x5 array with all elements as 0:
[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

b) Create a 3x3 matrix with values ranging from 0 to 8

In [11]:
import numpy as np

# Create a 3x3 matrix with values ranging from 0 to 8
matrix_3x3 = np.arange(9).reshape(3, 3)

# Print the matrix to verify
print("3x3 matrix with values ranging from 0 to 8:")
print(matrix_3x3)

3x3 matrix with values ranging from 0 to 8:
[[0 1 2]
 [3 4 5]
 [6 7 8]]

c) Find indices of non-zero elements from [1,2,0,0,4,0]

In [12]:
import numpy as np

# Define the array
array = np.array([1, 2, 0, 0, 4, 0])

# Find indices of non-zero elements
non_zero_indices = np.nonzero(array)

# Print the indices of non-zero elements
print("Indices of non-zero elements:")
print(non_zero_indices[0])  # non_zero_indices returns a tuple; [0] accesses the first element

Indices of non-zero elements:
[0 1 4]

d) Create a 10x10 array with random values and find the minimum and maximum values

In [13]:
import numpy as np

# Create a 10x10 array with random values
random_array_10x10 = np.random.rand(10, 10)

# Find the minimum value
min_value = np.min(random_array_10x10)

# Find the maximum value
max_value = np.max(random_array_10x10)

# Print the array and the minimum and maximum values
print("10x10 array with random values:")
print(random_array_10x10)
print("Minimum value:", min_value)
print("Maximum value:", max_value)

10x10 array with random values:
[[0.26814258 0.62784623 0.02112633 0.86604513 0.62095371 0.20152941
  0.87784913 0.58015009 0.84713373 0.20916816]
 [0.60545287 0.36971024 0.06014136 0.81423243 0.48718055 0.4034368
  0.71493547 0.96315466 0.04795123 0.89370871]
 [0.37187089 0.61167821 0.0903529  0.04810977 0.72233113 0.48732582
  0.69869024 0.61788467 0.10083694 0.82488117]
 [0.79424703 0.64983631 0.5955651  0.38073831 0.14969758 0.9381945
  0.29119379 0.34861652 0.38055397 0.90258697]
 [0.85620217 0.90155211 0.08213094 0.69131974 0.14160288 0.11075169
  0.43990842 0.24991476 0.31419332 0.47348003]
 [0.47744227 0.30281774 0.81152364 0.2469316  0.28301078 0.32671419
  0.49683766 0.17583434 0.38430532 0.79590429]
 [0.96950344 0.69620299 0.09860052 0.15820631 0.44630052 0.66279653
  0.18763215 0.85784127 0.79822864 0.53598611]
 [0.15518167 0.93934568 0.64387381 0.48039648 0.39943766 0.38810149
  0.34932502 0.88089768 0.45139305 0.36549985]
 [0.15220325 0.68257987 0.47879626 0.51582214 0.28005668 0.63911194
  0.78000999 0.35503082 0.59807531 0.31995237]
 [0.69884711 0.1180335  0.10100232 0.6322609  0.47627505 0.35396524
  0.83980478 0.70042389 0.05069322 0.71664352]]
Minimum value: 0.021126325986784655
Maximum value: 0.9695034398591569

e) Create a random vector of size 30 and find the mean value

In [14]:
import numpy as np

# Create a random vector of size 30
random_vector_30 = np.random.rand(30)

# Find the mean value of the vector
mean_value = np.mean(random_vector_30)

# Print the vector and the mean value
print("Random vector of size 30:")
print(random_vector_30)
print("Mean value:", mean_value)

Random vector of size 30:
[0.43689727 0.29953512 0.80194542 0.08428181 0.33080685 0.69885915
 0.38798735 0.05984563 0.80016612 0.55876952 0.69408937 0.13854119
 0.18706383 0.28188396 0.81281342 0.80764823 0.85472306 0.16944464
 0.23855272 0.47038123 0.65391049 0.09271031 0.22686623 0.07642654
 0.54638592 0.66306889 0.43702899 0.17750102 0.12030839 0.96583985]
Mean value: 0.4358094177887248

8) Write a Python program that prompts the user for two numbers, reads them in, and prints out
the product, labeled appropriately.

In [16]:
# Prompt the user for the first number
num1 = float(input("Enter the first number: "))

# Prompt the user for the second number
num2 = float(input("Enter the second number: "))

# Calculate the product of the two numbers
product = num1 * num2

# Print out the product with appropriate labeling
print(f"The product of {num1} and {num2} is: {product}")

Enter the first number: 50
Enter the second number: 70
The product of 50.0 and 70.0 is: 3500.0

9) Complete the code for the following function so it matches its documentation:
def doubleList(numberList):
For each of the numbers in the list numberList, print a line containing twice the original
number. For example,
doubleList ([3, 1, 5]) would print 6, 2, 10

In [17]:
def doubleList(numberList):
    # Iterate through each number in the list
    for number in numberList:
        # Print twice the original number
        print(number * 2)

# Example usage
doubleList([3, 1, 5])

6
2
10